.CardContainer{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.animation_Event{
    width: 80%;
}

@media only screen and (max-width:600px){
    /* width: 90%;4 */
    .animation_Event{
        width: 90%;
    }
}