.social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 35%;
    padding-right: 35%;
    margin-top: 50px;
    font-size: 34px;
    z-index: 1000;
    text-align: center;
}

.s{
    color: #821169;
    transition: 0.3s ease;
}

.s:hover{
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .social{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 65px;
        padding-right: 65px;
        padding-top: 57.1px;
        font-size: 24px;

    }
}