.social {
  display: flex;
  font-size: 34px;
  z-index: 1000;
  width: max-content;
  margin: 50px auto 0;
}

.s {
  color: #821169;
  transition: 0.3s ease;
}

.s:hover {
  color: white;
  cursor: pointer;
}
.fa {
  padding: 0 30px;
}

@media screen and (max-width: 800px) {
  .social {
    font-size: 24px;
  }
  .fa{
      padding: 0 15px;
  }
}

