.tabs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
    background-color: #1e022c;
    color: white;
}

.logo{
    height: 5em;
    padding-top: 6%;
}

.tab{
    vertical-align: middle;
    align-self: center;
    padding: 5%;
    margin: 0;
}

.tab:hover{
    border-bottom: 5px solid #821169;
    cursor: pointer;
}

.date{
    font-size: 0.7em;
    color: #821169;
}