.tabs {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  width: 80%;
  background-color: #1e022c;
  color: white;
}

.tabs__logo {
  height: 116px;
  width: 194px;
  padding-top: 10px;
}

.tabs__logo__tab {
  align-self: center;
  padding: 20px 25px;
  transition: all 0.3s ease;
  font-size: 17px;
  font-family: Manrope, "Segoe UI";
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.tabs__logo__tab a {
  text-decoration: none;
  color: inherit;
}

.active {
  /* border-bottom: 5px solid #821169; */
}

.tabs__logo__tab:hover {
  border-bottom: 5px solid #821169;
  cursor: pointer;
}

.tabs__logo--date {
  font-size: 0.7em;
  color: #821169;
}

.mobile__tabs {
  height: 39px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  height: 39px;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: #1e022c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.mobile__tabs__logo {
  height: 39px;
  width: 66px;
}

.blank {
  color: #1e022c;
  height: 30px;
  width: 40px;
}

.hamburger {
  color: #821169;
  font-size: 20px;
  padding-right: 15.5px;
}

@media screen and (min-width: 600px) {
  .mobile__tabs {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .tabs__logo__tab {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .tabs {
    display: none;
    font-size: 2000px;
  }
}
