.social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 35%;
    padding-right: 35%;
    /* padding-bottom: 5%; */
    padding-top: 2%;
    font-size: 2em;
}

.s{
    color: #821169;
    transition: 0.3s ease;
}

.s:hover{
    color: white;
    cursor: pointer;
}