footer{
    padding: 34px 334px 5px 83px;
    background-image: linear-gradient(to top, #350844, #3e3769);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inname{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
}

.inslog{
    width: 121px;
    height: 117px;
    object-fit: contain;
}
.name{
    opacity: 0.85;
    width: 584px;
    height: 23px;
    padding: 40px 0 54px 61px;
    font-family: Noir-Noir;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.linkcon{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
}

.linkna {
    width: 103px;
    height: 21px;
    margin: 22px 32px 17px 65px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

.conna {
    width: 103px;
    height: 21px;
    margin: 22px 32px 17px 80px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

.link, .p-dev{
    padding: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.lastline{
    background-color: #681883;
    border-color: #681883;
    height: 1vh;
    width: 100%;
}

.dev{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 25px;
}

.dot, .cc{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dotlogo{
    width: 20px;
    height: 20px;
    object-fit: contain;
}