* {
    margin: 0;
    padding: 0;
}

.landing{
    background-color: #1e022c;
    text-align: center;
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kreiva{
   background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200px;
    font-family: Noir;
    padding-top: 11%;
    z-index: 1;
}

.a{
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    margin-top: -7.85rem;
    background-image: linear-gradient(to bottom, #ffffff, rgba(139, 139, 139, 0.55), rgba(0, 0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.virtual{
    background: linear-gradient(to bottom, #821169, rgba(130, 17, 105, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  
    font-size: 35px;
    padding: 1%;
    padding-top: 0%;
}

.wave{
    position: absolute;
    left: 0;
    top: 8rem;
    width: 100%;
}

